/* Global Styles */
:root {
/* CSS HEX */
--white: #ffffffff;
--dark-purple: #412234ff;
--english-violet: #6d466bff;
--wisteria: #b49fccff;
--misty-rose: #ead7d7ff;
}

/* General Styles */

html, body {
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: Georgia, serif;
  width: 100%;
}


h1{
  font-family: Arial, sans-serif;
  text-align: center;
  color: var(--dark-purple);
}

h2, h3{
  font-family: Arial, sans-serif;
  text-align: center;
  color: var(--misty-rose);
}

/* Header */
header {
  background-color: var(--misty-rose);
  text-align: center;
  width: 100%
}

/* Main */
main {
  text-align: center;
  background-color: var(--dark-purple);
  flex: 1;
  width: 100%;
  color: white;
}
 
p {
  display: inline-block;
  border-radius: 5px;
  width: 80%;
}

main p{
  text-align: left;
  font-size: 18px;
}

main a{
  text-align: center;
  font-size: 18px;
  color: white;
}

main a:visited{
  color: white; 
}

/* Footer */
footer {
  width: 100%;
  font-size: 16px;
  text-align: center;
  background-color: var(--misty-rose);
}

footer p{
  color: var(--dark-purple);
  padding: 10px;
  margin: 10px auto;
}



