/* Global Styles */
:root {
/* CSS HEX */
--white: #ffffffff;
--dark-purple: #412234ff;
--english-violet: #6d466bff;
--wisteria: #b49fccff;
--misty-rose: #ead7d7ff;
}

/* General Styles */
body {
  background-color: var(--english-violet);
  font-family: Georgia, serif;
  margin: 0;
  padding: 0;
}

h1{
  font-family: Arial, sans-serif;
  text-align: center;
  color: var(--dark-purple);
}

h2, h3{
  font-family: Arial, sans-serif;
  text-align: center;
  color: var(--misty-rose);
}

/* Header */
header {
  background-color: var(--wisteria);
  padding: 20px;
  text-align: center;
}

/* Main */
main {
  padding: 20px;
  text-align: center;
}
 
p { 
  padding: 10px;
  border-radius: 5px;
}

main p{
  text-align: left;
  font-size: 18px;
  color: white;
}

main a{
  text-align: center;
  font-size: 18px;
  color: white;
}

main a:visited{
  color: white; 
}

/* Footer */
footer {
  font-size: 16px;
  text-align: center;
  padding: 5px;
  background-color: var(--wisteria);
}

footer p{
  color: var(--dark-purple);
}



